<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Movie</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="topper">
        <div class="header-title">
          <h1 class="main-body-header">Edit <%= movie.title %></h1>
        </div>
        <div class="header-btns">
          <a href="/watchlist" class="new-movie-btn">Cancel</a>
      
          <form action="/watchlist/<%= movie._id %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit" class="new-movie-btn delete-btn">Delete</button>
          </form>
      
          <button form="movieForm" class="new-movie-btn" type="submit">Save Movie</button>
        </div>
      </div>
      


    <div class="new-movie-form">
        <form id="movieForm" action="/watchlist/<%= movie._id %>?_method=PUT" method="POST">
            <div class="new-movie-input">
                <div class="new-movie-input-label">
                  <label for="title">
                    Title <span class="required">*</span>
                  </label>
                </div>
                  <input type="text" name="title" id="title" value="<%= movie.title %>" required>
              </div>
              <div class="new-movie-input">
                <div class="new-movie-input-label">
                  <label for="poster">Poster</label>
                </div>
                  <input type="text" name="poster" id="poster" value="<%= movie.poster %>">
              </div>
              <div class="new-movie-input">
                <div class="new-movie-input-label">
                  <label for="genre">Genre</label>
                </div>
                  <input type="text" name="genre" id="genre" value="<%= movie.genre %>">
              </div>
              <div class="new-movie-input">
                <div class="new-movie-input-label">
                  <label for="releaseDate">Release Date</label>
                </div>
                  <input type="date" name="releaseDate" id="releaseDate" value="<%= movie.releaseDate %>">
              </div>
              <div class="new-movie-input">
                <div class="new-movie-input-label">
                  <label for="director">Director</label>
                </div>
                  <input type="text" name="director" id="director" value="<%= movie.director %>">
              </div>
              <div class="new-movie-input">
                <div class="new-movie-input-label">
                  <label for="status">
                    Status <span class="required">*</span>
                  </label>
                </div>
                  <select name="status" id="status" required value="<%= movie.status %>">
                    <option value="Want to watch">Want to watch</option>
                    <option value="Currently watching">Currently watching</option>
                    <option value="Watched">Watched</option>
                  </select>
              </div>
        </form>
    </div>
</body>
</html>