<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Watchlist</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="topper">
        <h1 class="body-header">My Watchlist</h1>
        <a href="/watchlist/new" class="new-movie-link">New Movie</a>
    </div>
    <% if (movies.length > 0) { %>
        <div class="movie-card-container">
            <% movies.forEach((movie) => { %>
                <div class="movie-card">  
                    <a href="/watchlist/<%= movie._id %>">
                        <img src="<%= movie.poster %>" alt="<%= movie.title %>" style="width: 200px; height: 300px;">
                        <h2><%= movie.title %></h2>
                    </a>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p>No movies in your watchlist yet</p>
    <% } %>
</body>
</html>