<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Movie</title>
</head>
<body>
    <h1>View <%= movie.title %></h1>
    <img src="<%= movie.poster %>" alt="<%= movie.title %>">
    <h2>Title: <%= movie.title %></h2>
    <p>Genre: <%= movie.genre %></p>
    <p>Release Date: <%= new Date(movie.releaseDate).toISOString().split('T')[0] %></p>
    <p>Director: <%= movie.director %></p>
    <p>Status: <%= movie.status %></p>
    <a href="/watchlist">Back</a>
    <a href="/watchlist/<%= movie._id %>/edit">Edit</a>
    <form action="/watchlist/<%= movie._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
</body>
</html>