<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>View Movie</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    
    <div class="show-movie">
        <div class="show-details">
            <a href="/watchlist/<%= movie._id %>/edit" class="edit-btn">Edit Movie Details</a>
            <h1><%= movie.title %></h1>
            <p>Genre: <%= movie.genre %></p>
            <p>Release Date: <%= new Date(movie.releaseDate).toISOString().split('T')[0] %></p>
            <p>Director: <%= movie.director %></p>
            <form action="/watchlist/<%= movie._id %>/status?_method=PUT" method="POST">
                <label for="status">Status:</label>
                <select name="status" id="status" onchange="this.form.submit()">
                    <option value="Want to watch" <% if (movie.status == "Want to watch") { %> selected <% } %>>Want to watch</option>
                    <option value="Currently watching" <% if (movie.status == "Currently watching") { %> selected <% } %>>Currently watching</option>
                    <option value="Watched" <% if (movie.status == "Watched") { %> selected <% } %>>Watched</option>
                </select>
            </form>

            <div class="reviews">
                <% if (userReview) { %>
                    <div class="your-review">
                        <h2>Your Review</h2>
                        <a href="/watchlist/<%= movie._id %>/review/<%= userReview._id %>/edit" class="edit-btn">Edit Review</a>
                    </div>
                    <div class="review-item">
                        <div class="review-rating">
                            <div class="star-rating1">
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <span class="star <% if (i <= userReview.rating) { %> filled <% } %>">&#9733;</span>
                                <% } %>
                            </div>
                        </div>
                        <% if (userReview.review) { %>
                            <label>Review:</label>
                            <span><%= userReview.review %></span>
                        <% } %>
                    </div>
                <% } else { %>
                    <p>You have not reviewed this movie yet</p>
                    <a href="/watchlist/<%= movie._id %>/review/new" class="">Add Review</a>
                <% } %>
            
                <h2>Reviews</h2>
                <% let otherReviews = reviews.filter(review => review.user._id != locals.user._id); %>
                <% if (otherReviews.length > 0 ) { %>
                    <ul>
                        <% otherReviews.forEach((review) => { %>
                            <li>
                                <h3><%= review.user.username %></h3>
                                <div class="review-rating">
                                    <label>Rating:</label>
                                    <div class="star-rating1">
                                        <% for (let i = 1; i <= 5; i++) { %>
                                            <span class="star <% if (i <= review.rating) { %> filled <% } %>">&#9733;</span>
                                        <% } %>
                                    </div>
                                </div>
                                <% if (review.review) {%>
                                    <label>Review:</label>
                                    <span><%= review.review %></span>
                                <% } %>
                            </li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <p>No reviews yet</p>
                <% } %>

            </div>
            

        </div>
        <div class="show-poster">
            <img src="<%= movie.poster %>" alt="<%= movie.title %> poster" style="width: 300px; height: auto;">
        </div>
    </div>


</body>
</html>