<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>HOME PAGEE</h1>
    <ul>
      <% movies.forEach((movie) => { %>
          <li>
            <a href="/movies/<%= movie._id %>">
              <img src="<%= movie.poster %>" alt="<%= movie.title %>">
              <h2>Title: <%= movie.title %></h2>
            </a>
          </li>
      <% }) %>
  </ul>
  </body>
</html>