<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1 class="main-body-header">Explore Other Users Movies</h1> 
    <div class="movie-card-container">
        <% movies.forEach((movie) => { %>
          <div class="movie-card">
            <a href="/movies/<%= movie._id %>">
                <img src="<%= movie.poster %>" alt="<%= movie.title %> poster" style="width: 200px; height: 300px;">
              <h2><%= movie.title %></h2>
            </a>
          </div>
        <% }) %>
      </div>
  </body>
</html>