<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Movie</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>View <%= movie.title %></h1>
    <img src="<%= movie.poster %>" alt="<%= movie.title %>">
    <h2>Title: <%= movie.title %></h2>
    <p>Genre: <%= movie.genre %></p>
    <p>Release Date: <%= new Date(movie.releaseDate).toISOString().split('T')[0] %></p>
    <p>Director: <%= movie.director %></p>


    <div class="reviews">
        <% if (userReview) { %>
            <h2>Your Review</h2>
            <p>Rating: <%= userReview.rating %></p>
            <p>Review: <%= userReview.review %></p>
            <a href="/watchlist/<%= movie._id %>/review/<%= userReview._id %>/edit">Edit</a>
        <% } else { %>
            <a href="/watchlist/<%= movie._id %>/review/new">Add Review</a>
        <% } %>

        <h2>Reviews</h2>
        <% if (reviews.length > 0) { %>
            <ul>
                <% reviews.forEach((review) => { %>
                    <% if (review.user._id != locals.user._id) { %>
                        <li>
                            <h3><%= review.user.username %></h3>
                            <p>Rating: <%= review.rating %></p>
                            <p>Review: <%= review.review %></p>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No reviews yet</p>
        <% } %>
    </div>

</body>
</html>