<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>View Movie</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>

    <div class="show-movie">
        <div class="show-details">
            <h1><%= movie.title %></h1>
            <% if (movie.genre) { %>
                <p>Genre: <%= movie.genre %></p>
            <% } %>
            <% if (movie.releaseDate) { %>
                <p>Release Date: <%= new Date(movie.releaseDate).toISOString().split('T')[0] %></p>
            <% } %>
            <% if (movie.director) { %>
                <p>Director: <%= movie.director %></p>
            <% } %>

            <div class="reviews">
                <% if (userReview) { %>
                    <div class="your-review">
                        <h2>Your Review</h2>
                        <a href="/watchlist/<%= movie._id %>/review/<%= userReview._id %>/edit" class="edit-btn">Edit Review</a>
                    </div>
                    <div class="review-item">
                        <div class="review-rating">
                            <label>Rating:</label>
                            <div class="star-rating1">
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <span class="star <% if (i <= userReview.rating) { %> filled <% } %>">&#9733;</span>
                                <% } %>
                            </div>
                        </div>
                        <% if (userReview.review) { %>
                            <label>Review:</label>
                            <span><%= userReview.review %></span>
                        <% } %>
                    </div>
                <% } else { %>
                    <a href="/watchlist/<%= movie._id %>/review/new">Add Review</a>
                <% } %>

                <h2>Reviews</h2>
                <% if (reviews.length > 0) { %>
                    <ul>
                        <% reviews.forEach((review) => { %>
                            <% if (locals.user && review.user._id == locals.user._id) { %>
                            <% } else {%>
                                <li>
                                    <h3><%= review.user.username %></h3>
                                    <div class="review-rating">
                                        <label>Rating:</label>
                                        <div class="star-rating1">
                                            <% for (let i = 1; i <= 5; i++) { %>
                                                <span class="star <% if (i <= review.rating) { %> filled <% } %>">&#9733;</span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <% if (review.review) {%>
                                        <label>Review:</label>
                                        <span><%= review.review %></span>
                                    <% } %>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <p>No reviews yet</p>
                <% } %>
            </div>
        </div>
        <div class="show-poster">
            <img src="<%= movie.poster %>" alt="<%= movie.title %> poster" style="width: 300px; height: auto;">
        </div>
    </div>

</body>
</html>